version: "3"
services:

  nginx:
    container_name: nginx
    restart: always
    build: ./nginx
    ports:
      - '3000:80'

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    expose:
      - "2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    depends_on: 
      - zookeeper
    expose: 
      - "9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://kafka:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE

  student-data-form:
    build: ./student-data-form-service
    container_name: student-data-form
    environment: 
      KAFKA_HOST: kafka
      KAFKA_PORT: 9092
      KAFKA_TOPIC: student-data
      PORT: 3000

  student-data-form-consumer:
    build: ./student-data-form-consumer-service
    container_name: student-data-form-consumer
    environment: 
      KAFKA_HOST: kafka
      KAFKA_PORT: 9092
      KAFKA_TOPIC: student-data
      KAFKA_CONSUMER_GROUP: student-data-form-consumers
      ENV: Docker
      # encoded keys from Kubernetes secret
      PRIVATE_KEY: TUlJRXZnSUJBREFOQmdrcWhraUc5dzBCQVFFRkFBU0NCS2d3Z2dTa0FnRUFBb0lCQVFEY21PbnowQjBzdlM1ckpjYUNRbHlMMFBmbFlIeUZqVWpTd0FhM2c0Wk9sYUgyNWtGVG9nU1FKaWV5NHoxaWRLSTV3M0QvZWFkbmpkbURSenMzZkJncExPa05XdkVFMDc3MW1mS200ek9kUVI3a3dtbjFDY0ROK3hFb0ZuUXBxd3B4UnhqZmlXMmRiMm43QzlCTnJMUno2UlFPQmFMNEx5RDYycWlCRCtlc3JRNnd5c0pqb29GNHd2VTVhSERCelFSakVHc09oejRoOVR3eVVMRk14ZC9QOWoxMkN5cVY4bVoxNzNpemNHcVd1Q0hSNE1iVml1bVg5am1VQnRHSEhQNGRaMzdUcXB6dWdNK3hsaWtOSnJxcGxqNTRQWEYwNStnK1pTNS8rL0EzVjNva0xJMW5zTnp5OGVya3lxVThUMTJDbXB1N0VlOUlhTFF5UC96N2hhZWZBZ01CQUFFQ2dnRUFUZFNMc3BDS1FwY3FzZllkZ0NiT3hTdkEwc2FFbUpBZEVmSmJURk1VeDFRbTFWZ3UwMFdXQzQvU3NOeFk4NHhJRWs1QTUzb3lGS2lwQmhiVEwwUFN1SEJXZDNaUEZBOXJUL2IxZEdrejlEY2VJY0x3SkZyQkVrdVRKWXdxaHVzSVg2Z2dmL25hV1ZJT1Y5czJycmtRMzlacjAzaXNvNWpwTDJpSFRDWGk3UHBvTFZpa3h5MitLUFhDUGxlYXc0M21MU2Z3T2lZUTZ2R0dIb1B2VnFpZUlvaG51Qi9HMUc2RXd3ZWJ5Z24zM2k1V01iZWdhaEtxdlVBdE5JcWJZTHhnT3ZlcTB4WlNoQmFHUzM2WG91M0JBS2dVT283Tzh4SWdFRVJ0Y2JNNFdDU0gwZ1ZOUFJaVEMwdko5UzRFazYyYUFzbEFTNzJSVmEvVENFeXZ5Nkh0dFFLQmdRRDFsYnUxbjlFQ2tEUmdqREhuWnhTNzQ0OGVpSTR6SWljbzRab0FqZzJjSkxXdXFxVGx4UjZGdnU2RmsyWGJlYjVtMTI2TFIxZHUyNmpjNW02SDlqS1NnRVBscmo3a1hWaFl2RnJuWHJ4cFJqbU1UM3Q3TG1SOE5vUDIrQ1NqemZGc3ZvVVExODZrb3h4S0orZE5BcExFeVZjUnJYbWZrUGRGdU82SWJzUllCUUtCZ1FEbDgrVThzZnpOdG4rTElGak9uWjk0TUJPOHFrNWV1aU52am9rK1lDNVdtWGlReUJLVEZyVDIwQjdxcU0zaUJTelZCZmsrQUFQT3lvSUFkaUQvclVXLzBHYXRVTWs5a2M0bjhNOUdiTm51SGVlQzRlMXpYaVVEbklaK3RwVTZvSDNjcDRYSU96RVk0TzJMZzZIYW84UWp3cXFIMndMTkxQV2NnZmZXRXlrR1V3S0JnUUMxK28xTXlhOUVXZjBsNmR6MDN2S0RROTJDdjZlM2hrQkVUK0FoTnlJb3FSOGozZmt3OWY5bkZoT0RVYlR4akdZbHFNK1dUM2dmZ28rL21OVWcxTE9tMFhyK2tENjBVK01xWmZCcWNFM25LSTF1Umx0MjdPcXpER1ovTkdOYUtqb1MzWjZXMjRPWmhmQnBsdVlUcjZ0NFBNWFRLSnZ1UEtxdXRKbTA2WGQrelFLQmdHUS9sdEdHR3RzbjA2UzRubDY5RXRlWHhoTDdBQjJGOG9yZ3plNVdpZjBRL1NISlIyZStmM2dXTlZSQjhUZTIzOXVpdGcwVWZwUjVib0Y2L2xuWWxVN1JNT0lnRlF0MWREV3ZZdjJsMk1CWll5T0pFVGE1ZFZPRXVwR2xVWnQwZWtwbThnamYzVUNtVm9qN0F1WEpmV25GcFFpREwwNTVhajRuM3Y4QjdXR25Bb0dCQU4rWkl3QWladnU5YnpNbTJYb2RocW5KT2t2SGYxYVNUcExlRCs1RndZOFZNYUYxZ21peDNTcEhhMHlSQlo3OWlqOHBaNXJjWGNuemNjb3dWYThpcVN6RHViTWxXbHRQTEJWUDZwTFplSnh1ZG8xUGFQYkh6NHdTV0t6RnhTNmFXR24vcmFFWWxMUVF2bEVmVVJjZTMyeTFHNDRsRUk5ZWdlaDlKNEFQRVRiWg==
      CLIENT_EMAIL: c3R1ZGVudC1kYXRhLWZvcm0tY29uc3VtZXJAaGlnaGx5LXNjYWxhYmxlLWRhdGEtZm9ybXMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20=
