version: "3"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
    - 2181:2181

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
    - "9094:9094"
    expose: 
    - 9092
    depends_on: 
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://kafka:9092,OUTSIDE://kafka:9094
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092,OUTSIDE://localhost:9094
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE

  producer:
    build: ./form-submisson-server
    container_name: producer
    ports:
    - "3100:3100"
    environment: 
      KAFKA_HOST: kafka
      KAFKA_PORT: 9092
      KAFKA_TOPIC: test
      PORT: 3100

  consumer:
    build: ./kafka-consumer
    container_name: consumer
    environment: 
      KAFKA_HOST: kafka
      KAFKA_PORT: 9092
      KAFKA_TOPIC: test