apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-form-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: demo-form
  template:
    metadata:
      labels:
        component: demo-form
    spec:
      containers:
        - name: demo-form
          image: ksraj123/demo-form
          ports:
            - containerPort: 3000
          env:
            - name: KAFKA_HOST
              value: my-cluster-kafka-bootstrap
            - name: KAFKA_PORT
              value: '9092'
            - name: KAFKA_TOPIC
              value: demo-topic
            - name: PORT
              value: '3000'
