apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-data-form-consumer-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: student-data-form-consumer
  template:
    metadata:
      labels:
        component: student-data-form-consumer
    spec:
      containers:
        - name: student-data-form-consumer
          image: ksraj123/student-data-form-consumer:v1
          ports:
            - containerPort: 3000
          env:
            - name: KAFKA_HOST
              value: my-cluster-kafka-bootstrap
            - name: KAFKA_PORT
              value: '9092'
            - name: KAFKA_TOPIC
              value: student-data-form
            - name: KAFKA_CONSUMER_GROUP
              value: 'student-data-consumers'
            - name: PORT
              value: '3000'
